<configuration>

 <system.web>
    <!-- ASP.NET errors -->
    <httpRuntime maxQueryStringLength="65536" maxUrlLength="65536"/>
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
	
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <security>
      <requestFiltering>
        <!-- set limits di sini -->
	<requestLimits maxUrl="65536" maxQueryString="65536" />
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <directoryBrowse enabled="true" />
    <rewrite>
      <rules>
        <remove name="ReverseProxyInboundRule1" />
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions />
          <serverVariables />
          <action type="Rewrite" url="http://localhost:3035/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <caching enabled="false" enableKernelCache="false" />
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>

    <!-- IIS errors -->
    <httpErrors errorMode="Detailed" existingResponse="PassThrough"/>
    <!-- (opsional) iisnode -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true"/>
  </system.webServer>



</configuration>